/* BACKGROUND
background-repeat: lặp lại ảnh nền (áp dụng theo hướng XY)
background-size: container (ảnh vừa với khung hình, giữ vững tỉ lệ, không bị mất ảnh, nếu còn khoảng trống thì ảnh sẽ lặp lại)
                 cover     (ảnh vừa khớp với khung hình, giữ nguyên tỉ lệ ảnh, tự động dãn ảnh ra nếu còn khoảng trống
background-position: top, top-left, top-right
                     bottom, bottom-left, bottom-right
                     left
                     right
                     center
                            (lấy ảnh nền theo hướng chỉ định)
battachmentattachment: Scroll (khi cuộn xuống thì ảnh nền cũng sẽ cuộn lên)
                       Fixed  (ảnh cố định khi kéo scroll lên xuốn)
                       Local  (Ảnh cố định cục bộ trong bố cục con)

Backdrop-filter: blur (10px), (50%) làm mờ hình nền
*/
